@model DiskMusic.Models.Album

@{
    ViewData["Title"] = "Criar";
}

<h1>Criar</h1>

<h4>Album</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AlbumNome" class="control-label"></label>
                <input asp-for="AlbumNome" class="form-control" />
                <span asp-validation-for="AlbumNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BandaNome" class="control-label"></label>
                <input asp-for="BandaNome" class="form-control" />
                <span asp-validation-for="BandaNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlbumImagem" class="control-label"></label>
                <input asp-for="AlbumImagem" class="form-control" />
                <span asp-validation-for="AlbumImagem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anolancamento" class="control-label"></label>
                <input asp-for="Anolancamento" class="form-control" />
                <span asp-validation-for="Anolancamento" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EhFavorito" /> @Html.DisplayNameFor(model => model.EhFavorito)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
